@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Open Sans", sans-serif;  
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Elms Sans", sans-serif;
  --font-quertanary: "Anton", sans-serif;
  --font-quintary: "Crimson Text", sans-serif;
  --font-sextary: "Google Sans Flex", sans-serif;
  
  --color-primary-blue: #08b4fb;
  --color-secondary-blue: #1ea4dc;
  --color-tertiary-blue: #1e91c1;
  --color-dark-blue: #206988;
  --color-darker-blue: #004561;
}

p, h1, h3, a { 
  z-index: 1;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-hover-blue-secondary {
  transition: all 0.3s ease;
}

.btn-hover-blue-secondary:hover {
  background-color: var(--color-tertiary-blue);
  border-color: black;
  padding: 0px 15px 0px 15px;
  border-radius: 30px;
  color: white;
}

.btn-hover-blue {
  transition: all 0.3s ease;
}

.btn-hover-blue:hover {
  background-color: var(--color-tertiary-blue);
  border-color: black;
  border-radius: 30px;
  padding: 0px 15px 0px 15px;
  color: white;
}

.btn-hover-shadow:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  transition: all ease 0.3;
}

.btn-hover-shadow-blue:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--color-dark-blue);
  transition: all ease 0.3;
}

.profile-bg {
  position: relative;
}

.profile-bg::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/assets/RgLg_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px) opacity(0.7);
  z-index: -1;
}

.main-bg {
  background-image: url('/assets/RgLg_bg.png');
  background-color: #206988;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}